# Maven

target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar

# IDEs

*.iml
.idea/
.vscode/
nbproject/
*.class

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# Backup files

*.zip
*.rar
*.tar.gz
