:root{
    --color-primary:#0073ff;
    --color-white:#e9e9e9;
    --color-black:#141d28;
    --color-black-1:#212b38;
    color-black-1:#212b38;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    color :var(--color-white);
    font-size: 30px;
}
.logo span{
    color:var(--color-primary);
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    color:var(--color-white);
    text-decoration:none;
    font-size: 20px;
}

.menu_bar ul li a:hover{
    color: var(--color-white);
}

.dropdown_menu{
    display: none;
    color: black;
    background-color: black !important;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    color: #e9e9e9;
    z-index: 999 !important;

}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block

}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}
.fas{
    float:right;
    margin-left:10px ;
    padding-top: 3px;
}